<h1>{{errorMsg}}  </h1>


        <h1>{{room.name}}  </h1>
        <hr/>



<div class="row" style="margin-right:20%">

      <div class="col-md-6">
             <div class="panel panel-default card-black" ng-repeat="card in room.cards | filter:{color:'black'}" >
            
            <div class="panel-body">

                <h3>{{card.text}}</h3>

            </div>
        </div>


      </div>

       <div class="col-md-6">
 <div class="panel panel-default card-white" ng-repeat="card in room.cards | filter:{color:'black'}" >
            
            <div class="panel-body">

                <h3>{{card.text}}</h3>

            </div>
        </div>


      </div>
 


</div>

<div class="row">
    <div class="col-md-4">
        
<!-- 
        <h3>Players</h3>
        <div class="panel panel-default" ng-repeat="player in room.players" >
            <div class="panel-heading">Player</div>
            <div class="panel-body">

                {{player.name}}

            </div>
        </div> -->

 

 <a ng-click="addMessage()">Add</a>
        <div class="panel panel-default" ng-repeat="message in messages track by $index" >
            <div class="panel-heading">Player</div>
            <div class="panel-body">

                {{message}}

            </div>
        </div>

    </div>
   
    <div class="col-md-4">
      
      <!--  <div class="panel panel-default card-black" ng-repeat="card in room.cards" >
            
            <div class="panel-body">

                <h3>{{card.text}}</h3>

            </div>
        </div> -->

    </div>

</div>
<div class="row">
</div>

<div class="status-bar">
    <ul class="list-inline">
            <li ng-repeat="message in messages track by $index">
                <span>{{message}}</span>

            </li>

    </ul>

</div>



</div>