 

 
<div class="row">
  <div class="col-md-4">
    <h3>Details</h3>
    {{groupId}}  

  </div>



   <div class="col-md-4">
    <h3>Current Card</h3>

      <div class="panel panel-default" >
        <div class="panel-heading">Card</div>
        <div class="panel-body">
           <h1>{{card.text}}  </h1>



          
        </div>
    </div>




  

  </div>
 
 
   <div class="col-md-4">
    <h3>Played Cards</h3>

      <div class="panel panel-default" >
        <div class="panel-heading">Card</div>
        <div class="panel-body">
        



          
        </div>
    </div>




  

  </div>
 



  </div>

<div class="row">


</div>


</div>
 


 

 

 

 
