body { padding-top:30px; }



.card-black{background: black; color:white; width:300px; margin: 0 auto ; height:400px;}

.card-white{background: white; color:black; width:300px; margin: 0 auto ; height:400px;}

.card-stack{position:absolute;}

.status-bar{position: fixed; right:0px; top:0px; width:20%; height:100%; background: #CCC; padding:20px;}


	.status-bar span{color:white; font-weight: bold; font-size: 170%}